
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: white !important;
  background-color: transparent !important;
}

::ng-deep .cdk-text-field-autofilled {
  background-color: transparent !important;
}

::ng-deep input.mat-form-field-autofill-control {
  background-color: transparent !important;
}

::ng-deep input.mat-input-element {
  color: white !important;
  background-color: transparent !important;
}

::ng-deep .mat-button {
  background-color: blue !important;
  color: white;
}





  h1{
      font-family: sans-serif
  }
  .spacer {
    flex: 1;
  }

  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    height: 1000px;

  }

  .toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    font-size: 200%;
    vertical-align: text-bottom;

  }

  .petlife-heading {
    margin-top: 1%;


  }
  .toolbar #sidebarbutton {
    height: 40px;
    margin: 0 16px;
  }

  body {
    position: relative;



  }

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /* height: 100vh !important; */
    background: url(../assets/img/petlife-background.jpg) no-repeat 0 0;
    background-size: cover;
    object-fit: cover;
    position: fixed;
    overflow: auto;
    top: 56px;
    bottom: 0;


  }

  .login-page {
    margin-right: 1%;
  }

  .login-link {
    text-decoration: none;
    font-family: sans-serif;
    color: white;
  }


  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }
