
<!-- Header -->
<div class="toolbar" role="banner">
  <img
    width="40"
    style="margin-left:1em"
    alt="Pet App Logo"
    src="https://cdn4.iconfinder.com/data/icons/flat-pet-icons/344/pet14-512.png"
  />
  <h1
    class="petlife-heading"
    style="margin-left: 0.5em"
  >PetLife</h1>
    <div class="spacer"></div>

  <!-- <h2 class="login-page" style="float: right"><a class="login-link" href="google.com">Login</a></h2> -->

</div>

<div class="content" role="main">
  <app-login></app-login>

  <!-- Footer -->
  <footer>
  </footer>

</div>


<router-outlet></router-outlet>
