
.login-content {
  display: flex;
  flex-wrap: wrap;
  border: 5px;
  /* border-style: solid;
  border-color: #1976d2;
  border-radius: 5px; */
  margin-top: 25%;
  padding: 1%;
}

img.image {
    max-width:700px;
    height: 700px;
    object-fit: contain;

}

.image-wrapper {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  object-fit: contain;
}

.image {
  position: absolute;
  margin-bottom: 85%;
  z-index: -1;
}


.temp {
  width: 100%;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.login-button {
  color: blue;
  width: 50%;
}

.register-button {
  /* color: blue; */
  width: 50%;
}

.login-prompt {
  text-align: center;
  align-content: center;
}
