
<div class="image-wrapper">
<!-- <img class="image" src="assets/img/login-background.png"> -->
<mat-card class="login-content">
  <!-- <h1 class="login-prompt">Login</h1> -->
  <!-- <h2>{{login.userName | uppercase}}</h2> -->

  <form [formGroup]="loginForm" class="temp">
    <mat-form-field class="temp">
        <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>


    <br>

    <mat-form-field class="temp">
      <input matInput placeholder="Password" type="password" formControlName="password">
    </mat-form-field>
  </form>



  <button type="submit" (click)="tryLogin(loginForm.value)" routerLink="/schedule" mat-button class="login-button">Login</button>
  <button  routerLink="/register" mat-button class="register-button">Register</button>
</mat-card>
</div>
