<h1 mat-dialog-title>Edit Pet</h1>
<div mat-dialog-content class="dialog">
  <form [formGroup]="editPetGroup" (ngSubmit)="onSubmit(editPetGroup.value)">
      <mat-form-field class="form-field">
        <p>Name:</p><input matInput formControlName="name">
      </mat-form-field>
      <div></div>
      <mat-form-field class="form-field">
        <p>Need 1:</p><input matInput formControlName="need1">
      </mat-form-field>
      <mat-form-field class="form-field">
        <p>Time of Need 1:</p><input matInput formControlName="time1">
      </mat-form-field>
      <mat-form-field class="form-field">
        <p>Need 2:</p><input matInput formControlName="need2">
      </mat-form-field>
      <mat-form-field class="form-field">
        <p>Time of Need 2:</p><input matInput formControlName="time2">
      </mat-form-field>
    <div mat-dialog-actions class="buttons">
      <button mat-button class ="button" type="submit" color="primary">
        Submit
      </button>
      <button mat-button class ="button" (click)="dialogRef.close()">
        Cancel
      </button>
    </div>
  </form>
</div>

