



.household-content {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  margin-top: 2%;
}

.household-heading {

  width: 100%;
}

.check-box {
  margin-right: 2%;
}

.type-id {
  margin-top: 5%;
}

.household-card1 {
  width: 100%;
}

.yes-box{
  margin-left: 20%;
}

.no-box{
  margin-right: 20%;
  margin-left: 20%;
}

.householdButton{
  margin-top: 10%;
  margin-left: 30%;
}

.householdid{
  justify-content: center;
}
mat-checkbox ::ng-deep .mat-checkbox-container {width: 300px;}
