<div class="household-content">

<mat-card class="household-card1">


    <h2 class="household-heading">Do you have a household?</h2>
    <br>
    <mat-checkbox class="yes-box" type="checkbox" [(ngModel)]="yesChecked">Yes</mat-checkbox>


    <mat-checkbox class="no-box" type="checkbox" [(ngModel)]="noChecked">No</mat-checkbox>
    <br>
  <div *ngIf="noChecked">
      <button class="householdButton"  (click)="tryCreatingHousehold()" mat-raised-button>Create Household</button>
    </div>

    <div *ngIf="yesChecked">
        <h3>Enter the household ID:</h3>
        <form [formGroup]="householdGroup" (ngSubmit)="tryHouseholdJoin(householdGroup.value)">
          <mat-form-field>
            <input matInput placeholder="Household ID:" formControlName="houseID">
          </mat-form-field>

          <br>
          <button type="submit" mat-raised-button>Join Household</button>
        </form>
    </div>

    <br>

    <div *ngIf="householdID" class="householdid">
      <p>Share this household ID with housemates:</p>
      <p>{{householdID}}</p>
      <button mat-raised-button routerLink="/dash">Continue</button>
    </div>

</mat-card>

</div>
