
<div class="register-content">
  <mat-form-field class="temp">
      <input matInput placeholder="First Name:">
  </mat-form-field>

  <br>

  <mat-form-field class="temp">
      <input matInput placeholder="Last Name:">
  </mat-form-field>

  <br>

  <mat-form-field class="temp">
      <input matInput placeholder="Username:">
  </mat-form-field>


  <br>

  <mat-form-field class="temp">
      <input matInput placeholder="Phone Number:">
  </mat-form-field>


  <br>

  <mat-form-field class="temp">
      <input matInput placeholder="Password:" type="password">
  </mat-form-field>


  <br>

  <mat-form-field class="temp">
    <input matInput placeholder="Confirm Password:" type="password">
  </mat-form-field>


  <button routerLink="/dash" mat-button class="register-button">Register</button>
</div>
