<h1 mat-dialog-title>Add Pet</h1>
<div mat-dialog-content class="dialog">
  <form [formGroup]="addPetGroup" (ngSubmit)="onSubmit(addPetGroup.value)">
    <mat-form-field class="form-field">
      <p>Name:</p><input matInput formControlName="name">
    </mat-form-field>
    <div></div>
    <mat-form-field class="form-field">
      <p>Need 1:</p><input matInput formControlName="need1">
    </mat-form-field>
    <div></div>
    <mat-form-field class="form-field">
      <p>Time of Need 1:</p><input matInput formControlName="time1">
    </mat-form-field>
    <div></div>
    <mat-form-field class="form-field">
      <p>Need 2:</p><input matInput formControlName="need2">
    </mat-form-field>
    <div></div>
    <mat-form-field class="form-field">
      <p>Time of Need 2:</p><input matInput formControlName="time2">
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-button type="submit" color="primary">
        Submit
      </button>
      <button mat-button (click)="dialogRef.close()">
        Cancel
      </button>
    </div>
  </form>
</div>

