<mat-card class="pet-card" style="margin-top: 10px">
        <mat-card-header>
            <mat-card-title class="title">Sarah's Schedule</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngFor="let need of needs">
                <li>
                    {{need.description}} {{need.hour}}:{{need.minute}} {{need.time}} <mat-slide-toggle class="toggle" [formControl]=""></mat-slide-toggle>
                </li>
            </div>
        </mat-card-content>
</mat-card>