<mat-card class="pet-card" style="margin-top: 10px">
    <mat-card-header>
        <mat-card-title class="title">Sarah's Schedule</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let pet of pets">
            <p>{{pet.payload.doc.data().name}}:</p>
            <div *ngFor="let need of needs">
                <li *ngIf="need.payload.doc.data().pet === pet.payload.doc.data().name" class="list">
                    {{need.payload.doc.data().what}} {{need.payload.doc.data().time}}
                    <input type="checkbox" [checked]="need.payload.doc.data().completed"
                        (change)="updateCompletion(need)" />
                </li>
            </div>
        </div>
        <div></div>

    </mat-card-content>
</mat-card>