<h1 mat-dialog-title>Delete Pet</h1>
<div mat-dialog-content class="dialog">
    <ul class="collection">
        <li *ngFor="let pet of pets">
          <span class="col s11"> {{ pet.payload.doc.data().name }} </span>
          <button class="delete-button" mat-button class="col s1" (click)="deletePet(pet.payload.doc.id)">x</button>
        </li>
      </ul>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="confirmSelection()" color="primary">
    Submit
  </button>
  <button mat-button (click)="dialogRef.close()">
    Cancel
  </button>
</div>
