
::ng-deep .mat-focused .mat-form-field-label {
color: black !important;
}

::ng-deep.mat-form-field-underline {
background-color: black !important;
}

::ng-deep .mat-form-field-label {
	color: black !important;
}
::ng-deep.mat-form-field-ripple {
background-color: black !important;
}

::ng-deep input.mat-input-element {
	color: black !important;
	background-color: transparent !important;
}

/** Overrides underline color **/
.my-form-field.mat-form-field-appearance-legacy .mat-form-field-underline,
.my-form-field.mat-form-field-appearance-legacy .mat-form-field-ripple,
/.my-form-field.mat-form-field-appearance-legacy.mat-focused
	.mat-form-field-underline,
.my-form-field.mat-form-field-appearance-legacy.mat-focused
	.mat-form-field-ripple {
	background-color: black;
	width: 100%;
}

/** Overrides label color **/
.my-form-field.mat-form-field-appearance-legacy .mat-form-field-label,
.my-form-field.mat-form-field-appearance-legacy.mat-focused
	.mat-form-field-label {
	color: black;
	width: 100%;
}

/** Overrides caret & text color **/
.my-form-field.mat-form-field-appearance-legacy .mat-input-element {
	caret-color: black;
	color: black;
	width: 100%;
}

.form-full-width {
	min-width: 150%;
	max-width: 500px;
	width: 100%;
}

.ng-star-inserted {
	width: 100%;
}

.temp {
	padding: 5%;
	width: 100% !important;
	color: black !important;
}

.settings-content {
	display: flex !important;
	color: black;
	border: 5px;
	width: 100%;
	justify-content: center;
	margin-top: 2%;
	background-color: white;
  opacity: 1;
	border-radius: 5%;
}

.settings-Wrapper {
  display: flex !important;
  width: 50% !important;
  color: white;
  justify-content: center;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.update-button {
  background-color: blue;
  color: white;
	width: 25%;
  margin-left: 40%;
  margin-right: 40%;
	margin-top: 10%;
	border-radius: 10%;
  justify-content: center
}

::placeholder {
	color: black;
}

.center {
	display: flex column;
}

.houseid {
	display: flex;
	justify-content: center;
}
.ownerid {
	display: flex;
	justify-content: center;
}
