<div class="settings-Wrapper">
  <div class="settings-content">

     <form [formGroup]="scheduleForm">	

	  <mat-form-field class="temp">
                  <input matInput placeholder="First Name:" formControlName="firstName">
	  </mat-form-field>

	  <mat-form-field class="temp">
		  <input matInput placeholder="Last Name:" formControlName="lastName">
	  </mat-form-field>

	   <mat-form-field class="temp">
                  <input matInput placeholder="Username:" formControlName="userName">
          </mat-form-field>

		<mat-form-field class="temp my-form-field">
				<input matInput placeholder="Email:" formControlName="email">	
		</mat-form-field>

	   <mat-form-field class="temp">
                  <input matInput placeholder="Password:" formControlName="password">
          </mat-form-field>

	   <mat-form-field class="temp">
                  <input matInput placeholder="Phone Number:" formControlName="phoneNum">
          </mat-form-field>

	  <button mat-raised-button class="update-button" type="submit">Update</button>
     </form>
  </div>
</div>
