<div class="settings-Wrapper">
  <div class="settings-content">

     <form *ngIf="scheduleForm" [formGroup]="scheduleForm" (ngSubmit)="trySettings(scheduleForm.value)">

	  <mat-form-field class="temp">
                  <input matInput placeholder="First Name:" formControlName="firstName" value="{{firstN}}">
	  </mat-form-field>

	  <mat-form-field class="temp">
		  <input matInput placeholder="Last Name:" formControlName="lastName" value="{{lastN}}">
	  </mat-form-field>
    <!-- <p>this is the last Name: {{lastN}}</p> -->

	   <mat-form-field class="temp">
                  <input matInput placeholder="Username:" formControlName="userName" value="{{userN}}">
          </mat-form-field>

		<mat-form-field class="temp my-form-field">
				<input matInput placeholder="Email:" formControlName="email" value="{{em}}">
		</mat-form-field>

	   <mat-form-field class="temp">
                  <input matInput placeholder="Password:" formControlName="password" value="{{pass}}">
          </mat-form-field>

	   <mat-form-field class="temp">
                  <input matInput placeholder="Phone Number:" formControlName="phoneNum" value="{{phonenum}}">
          </mat-form-field>

     <div class="center">
       <div class="houseid">HouseholdID: {{household}}</div>
       <div class="ownerid">OwnerID: {{ownerid}}</div>
       <br>
       <div class="ownerid">Use thes keys to join households or to join other households</div>
     </div>


	  <button mat-raised-button class="update-button" type="submit">Update</button>
     </form>
  </div>
</div>
