<div>
    <div class="card-container">
        <div *ngFor="let user of users">
            <mat-card class="pet-card">
                <mat-card-header>
                    <mat-card-title class="title">{{user.payload.doc.data().firstName}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
            <span flex></span>
        </div>
    </div>
    <div class="buttons">
        <button mat-raised-button class="add-button" (click)="openDialog()">
            <mat-icon>add</mat-icon>Add owner to pet
        </button>
        <button mat-raised-button class="delete-button" (click)="openSecondDialog()">
            <mat-icon>delete</mat-icon>Delete owner from pet
        </button>
    </div>
</div>